---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

<h2>Engineering Physics Propulsion Laboratory<h2>

<div class="grid__wrapper">
{% for post in site.portfolio %}
  {% if post.category == "eppl" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>


<h2>Course and Capstone<h2>

<div class="grid__wrapper">
{% for post in site.portfolio %}
  {% if post.category == "course" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}
</div>