---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

<h2 class="project-section-title">Research Projects</h2>

<div class="list__wrapper">
{% for post in site.portfolio %}
  {% if post.category == "eppl" %}
    {% include archive-single-cv.html type="list" %}
  {% endif %}
{% endfor %}
</div>


<h2 class="project-section-title">Academic Projects</h2>

<div class="list__wrapper">
{% for post in site.portfolio %}
  {% if post.category == "course" %}
    {% include archive-single-cv.html type="list" %}
  {% endif %}
{% endfor %}
</div>