{% include base_path %}

{% if post.header.teaser %}
  {% assign teaser = post.header.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="project-card">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if teaser %}
      <a class="project-card__image" href="{{ base_path }}{{ post.url }}" rel="permalink">
        {% if teaser contains "://" %}
          <img src="{{ teaser }}" alt="{{ title | strip_html }}">
        {% else %}
          <img src="{{ teaser | relative_url }}" alt="{{ title | strip_html }}">
        {% endif %}
      </a>
    {% endif %}

    <div class="project-card__content">
      <h3 class="archive__item-title" itemprop="headline">
        {{ title }}
      </h3>

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}
        </p>
      {% endif %}

      <a class="project-card__button" href="{{ base_path }}{{ post.url }}" rel="permalink">
        Read more
      </a>
    </div>

  </article>
</div>